.full-width {
    width: 100% !important;
}

.window {
    // margin-left: 5% !important;
    display: flex;
    justify-content: space-around;
}

mat-card {
    // margin-left: 5% !important;
    width: 100% !important;
    // min-height: 250px;
}

button {
    margin-right: 5% !important;
}