
<div class="row mt-4 mb-4 row-top">
    <div class="col-8">
       <h2 class="top-detail">{{project.project_name}}</h2>
    </div>
    <div class="col-4 col-right">
        <!-- <mat-form-field class="form-field" appearance="outline">
            <mat-label>Project ID</mat-label>
            <input autofocus autocomplete="off" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="project._id">
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field> -->
     </div>
</div>
<hr>
<div class="row mb-4">
    <div class="col-6">
        <mat-toolbar *ngIf="projectId">

            <button mat-stroked-button color="accent" *ngIf="selectedRoute != 'plantation'" (click)="selectedRoute = 'plantation'" 
            [routerLink]="['/saas', 'projects', this.projectId, 'plantation']">
                <!-- <mat-icon>grass</mat-icon> -->
                 Overview
            </button>
            <button mat-raised-button color="accent" *ngIf="selectedRoute == 'plantation'">
                <!-- <mat-icon>grass</mat-icon> -->
                Overview
            </button>
        
            <button mat-stroked-button color="accent" *ngIf="selectedRoute != 'coffee'" (click)="selectedRoute = 'coffee'"
            [routerLink]="['/saas', 'projects', this.projectId, 'coffee']">
                <!-- <mat-icon>local_cafe</mat-icon> -->
                 Coffee
            </button>
            <button mat-raised-button color="accent" *ngIf="selectedRoute == 'coffee'">
                <!-- <mat-icon>local_cafe</mat-icon> -->
                 Coffee
            </button>

            <button mat-stroked-button color="accent" *ngIf="selectedRoute != 'people'" (click)="selectedRoute = 'people'"
            [routerLink]="['/saas', 'projects', this.projectId, 'people']">
                <!-- <mat-icon>person_add</mat-icon> -->
                 People
            </button>
            <button mat-raised-button color="accent" *ngIf="selectedRoute == 'people'">
                <!-- <mat-icon>person_add</mat-icon> -->
                 People
            </button>
        
            <button mat-stroked-button color="accent" color="accent" *ngIf="selectedRoute != 'dashboard'" (click)="selectedRoute = 'dashboard'"
            [routerLink]="['/saas', 'projects', this.projectId, 'dashboard']">
                <!-- <mat-icon>dashboard</mat-icon> -->
                 Performance
            </button>
            <button mat-raised-button color="accent" color="accent" *ngIf="selectedRoute == 'dashboard'">
                <!-- <mat-icon>dashboard</mat-icon> -->
                Performance
            </button>
        
            <button mat-stroked-button color="accent" *ngIf="selectedRoute != 'files'" (click)="selectedRoute = 'files'"
            [routerLink]="['/saas', 'projects', this.projectId, 'files']">
                <!-- <mat-icon>file_download</mat-icon> -->
                 Files & Updates
            </button>
            <button mat-raised-button color="accent" *ngIf="selectedRoute == 'files'">
                <!-- <mat-icon>file_download</mat-icon> -->
                 Files & Updates
            </button>
        
            <button mat-stroked-button color="accent" *ngIf="selectedRoute != 'settings'" (click)="selectedRoute = 'settings'"
            [routerLink]="['/saas', 'projects', this.projectId, 'settings']">
                 Settings
            </button>
            <button mat-raised-button color="accent" *ngIf="selectedRoute == 'settings'">
                 Settings
            </button>
        
        </mat-toolbar>
    </div>
    <div class="col-6 col-add-people">
        <button mat-raised-button color="blue-ryb" (click)="openDialog()">
            <mat-icon>person_add</mat-icon> Invite
        </button>
    </div>
</div>

<router-outlet></router-outlet>