<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span><img src="assets/images/ct-logo-white.png" width="200" height="66.6"></span>
        <div class="menu">
            <a mat-button [routerLink]="'/accounts'"> About </a>
            <a mat-button [routerLink]="'/create-account'"> Services </a>
            <a mat-button [routerLink]="'/contacts'"> Gallery </a>
            <a mat-button [routerLink]="'/create-contact'"> Blog</a>
        </div>
        <span class="menu-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>