<h2 mat-dialog-title>New Project?</h2>
<div mat-dialog-content class="row">
    <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Your Project name</mat-label>
        <input autocomplete="off" matInput [(ngModel)]="projectName" placeholder="Feed your desired project name and we'll take care of the rest ...">
        <mat-icon matSuffix>coffee</mat-icon>
    </mat-form-field>
    <img class="col-md-6" width="50%" height="50%" src="assets/svgs/new_project.svg">
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="createNewProject(this.projectName)">Create</button>
    <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>