<div class="row">
    <div class="col-md-3">
        <div class="widget purple-bg">
            <div class="row card-top-row">
                <div class="col-12">
                    <h2>
                        1,800 ha
                    </h2>
                </div>
                <div class="col-12">
                    <h4 class="card-subtext">
                        Acerage
                    </h4>
                </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-6 text-right center-it">
                <h1>ALTITUTE</h1>
              </div>
              <div class="col-6 text-right center-it">
                <h1>180 MTRS</h1>
              </div>
            </div>  
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget blue-bg">
            <div class="row card-top-row">
                <div class="col-12">
                    <h2>
                        340.4 mts
                    </h2>
                </div>
                <div class="col-12">
                    <h4 class="card-subtext">
                        Coffee Harvest
                    </h4>
                </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-6 text-right center-it">
                <h1>TYPICA</h1>
              </div>
              <div class="col-6 text-right center-it">
                <h1>150 MTRS</h1>
              </div>
            </div>  
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget pink-bg">
            <div class="row card-top-row">
                <div class="col-12">
                    <h2>
                        994
                    </h2>
                </div>
                <div class="col-12">
                    <h4 class="card-subtext">
                        Growers
                    </h4>
                </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-6 text-right center-it">
                <h1>MEN OVER 40</h1>
              </div>
              <div class="col-6 text-right center-it">
                <h1>25%</h1>
              </div>
            </div>  
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget orange-bg">
            <div class="row card-top-row">
                <div class="col-12">
                    <h2>
                        Dec-Mar
                    </h2>
                </div>
                <div class="col-12">
                    <h4 class="card-subtext">
                        Harvest Period
                    </h4>
                </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-6 text-right center-it">
                <h1>FLY HARVEST</h1>
              </div>
              <div class="col-6 text-right center-it">
                <h1>AUG</h1>
              </div>
            </div>  
        </div>
    </div>
</div>