@import 'src/modules/projects/projects/project/plantation/plantation.component.scss';

mat-card {
    border: 2px solid #EBEBEB !important;
    border-radius: 10px !important;
}
.no-margin{
    margin: 0px !important;
}