@import 'src/modules/projects/projects/project/plantation/plantation.component.scss';

mat-card {
    border: 2px solid #EBEBEB !important;
    border-radius: 10px !important;
}
.no-margin{
    margin: 0px !important;
}
::ng-deep{
    .mat-button{
        background-color: #1665D8 !important;
        width: 100%;
        color: white;
    }
}
.prof-images{
    width: 100px;
    height: 70px;
}