.spacer{
    flex: 1 1 auto;
}

.tabs{
    margin: 1%;
    outline: none;
}

app-side-bar, mat-sidenav, mat-toolbar, mat-sidenav-container{
    background: white;
}

mat-sidenav {
    overflow: hidden !important;
}

.tabs:hover{
    // background-color: #0052CC;
    color: black;
}

input {
    color: black;
    opacity: 0.6;
    outline: none;
    border: hidden;
    font-size: 16px;
    width: 100% !important;
}


mat-toolbar{
    border: 1px solid #EBEBEB;
    -webkit-box-shadow: 0px 13px 25px -26px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 13px 25px -26px rgba(0,0,0,0.75);
    box-shadow: 0px 13px 25px -26px rgba(0,0,0,0.75);
}

.icon-button{
    background: white !important;
}

.navbar {
    max-width: 100%;
    margin: auto;
    margin-bottom: 1%;
    background: white;
    /* float: left;  or right as you want and then remove margin: auto*/
}